@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.dino  {
    padding: 0;
    margin: 0;
    position: relative;
}

.caption  {
    position: absolute;
    bottom: 0;
    padding: 12px;
    color: white;
    font-size: 10pt;
    font-family: georgia;
}

.header {
    font-size: 14pt;
    padding: 1rem;
    color: #330000;
    
}

.period {
    text-transform: uppercase;
    color: grey;
    font-size: 6.6pt;
}

.pperiod    {
    text-transform:none;
    color: black;
    font-size: 12pt;
}

.diet   {
    text-transform: uppercase;
    color: grey;
    font-size: 6.6pt;
}

.pdiet  {
     text-transform:none;
     color: black;
    font-size: 12pt;
}

.length {
    text-transform: uppercase;
    color: grey;
    font-size: 6.6pt;
}

.plength {
     text-transform:none;
    color: black;
    font-size: 12pt;
}